<h1 class="text-4xl font-bold">Edit Todo</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.todo_path(@conn, :update, @todo)) %>

<%= link "Back", to: Routes.todo_path(@conn, :index), class: "bg-indigo-200 shadow-lg rounded-lg px-3 py-2 mt-4 inline-block" %>
